#title::after {
    content: 'FAQs' !important;
}

/* FAQ container */

#faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 20% 1rem;
}

h2 {
    font-family: var(--accent-font);
    font-weight: normal;
    color: var(--mustard-yellow);
    font-size: 4rem;
    text-align: center;
    margin: 3rem auto;
}

/* question wrapper */

.question-wrapper {
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.question-text {
    font-weight: 600;
    color: var(--teal);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
}

.expand-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-left: auto;
}

.expand-btn .material-symbols-rounded {
    color: var(--teal);
    font-size: 2rem;
}

.expand-btn .material-symbols-rounded::selection {
    background-color: transparent;
}

/* answer wrapper */

.answer-wrapper {
    margin-top: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.answer-text {
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    border-radius: 1rem;
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: var(--charcoal);
    max-width: unset;
}

/* Other question */

.other-question {
    padding: 2rem;
    margin: 1rem auto 2rem;
    text-align: center;

    h3 {
        font-size: clamp(1.1rem, 2vw, 1.3rem);
        font-weight: 500;
        color: var(--charcoal);
        text-wrap: balance;
    }
}

/* Responsive Design */

@media (max-width: 768px) {
    h2 {
        margin-top: 116px;
    }
}

@media (max-width: 425px) {
    #faq-container {
        margin: 0 10% 2rem;
    }
}