#title::after {
    content: 'FAQs' !important;
}

/* FAQ container */

#faq-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 50rem;
    margin: 0 auto 1rem;
}

.headline {
    margin-block: 3rem;
}

details {
    background-color: rgb(230, 230, 230);
    border: 2px solid rgb(204, 204, 204);
    border-radius: 1rem;
    padding: 1rem;
    margin-inline: 2rem;
    --time: 250ms;
}

/* question */

summary {
    cursor: pointer;
    font-weight: 600;
    color: var(--teal);
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    position: relative;
}

summary, .answer {
    padding-left: 2rem;
}


/* list marker */

summary::marker {content: ''}

summary::before {
    content: 'keyboard_arrow_right';
    font-family: "Material Symbols Rounded";
    font-size: clamp(1.6rem, 3vw, 2rem);;
    font-weight: 400;
    position: absolute;
    left: 0;
    top: -5px;
    transition: transform var(--time) ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

/* answer */

.answer {
    padding-top: 1rem;
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 2vw, 1.2rem);
    color: var(--charcoal);
}

details::details-content {
    height: 0;
    transition: height var(--time) ease, content-visibility var(--time) ease;
    transition-behavior: allow-discrete;
    overflow: hidden;
}

details[open]::details-content {
    height: auto;
}

/* Other question */

.other-question {
    margin: 3rem;
    text-align: center;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-weight: 500;
    color: var(--charcoal);
    text-wrap: balance;
}

/* Responsive Design */

@media (max-width: 768px) {
    .headline {
        margin-block: 7rem 3rem;
    }
}