/* header */

#faq-header {
    background-color: #2a3741;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header {
    padding: 1.5rem;
}

#title::after {
    content: 'FAQs' !important;
}

/* FAQ container */

#faq-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 15%;
}

h2 {
    font-family: var(--accent-font);
    font-weight: normal;
    color: var(--mustard-yellow);
    font-size: 4rem;
    text-align: center;
    margin: 3rem auto;
}

/* question wrapper */

.question-wrapper, .answer-wrapper {
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    border-radius: 1rem;
}

.question-wrapper {
    display: flex;
    gap: 1rem;
}

.question-text {
    font-weight: 600;
    color: var(--teal);
    font-size: clamp(1rem, 3vw, 1.5rem);
}

.expand-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.expand-btn .material-symbols-rounded {
    color: var(--teal);
    font-size: 2rem;
}

.expand-btn .material-symbols-rounded::selection {
    background-color: transparent;
}

/* answer wrapper */

.answer-wrapper {
    margin-top: 0.5rem;
    display: none;
}

.answer-text {
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 2vw, 1.3rem);
    color: var(--charcoal);
}

.answer-wrapper.show-answer {
    display: block;
    animation: showAnswer 0.2s ease forwards;

}

.move-wrapper-down {
    margin-top: 70px;
}

@keyframes showAnswer {
    from {
        clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
    }

    to {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    }
}

/* Responsive Design */

@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    #faq-header {
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: all 0.5s ease;
    }

    #faq-header.hidden {
        top: -100%;
    }
}

@media (max-width: 368px) {
    #faq-header {
        height: 100px;
    }

    #title::after {
        display: none;
    }
}