#title::after {content: 'ORDER' !important}

/* header */
h2 {
    font-family: var(--accent-font);
    font-weight: 400;
    color: var(--teal);
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    color: var(--teal);
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    text-wrap: balance;
}
.contact-p, .temporary-msg p {
    color: var(--charcoal);
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 1.8;
    text-wrap: balance;
    max-width: unset;
}

/* ===== Temporary Message ===== */

.temporary-msg {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    text-align: center;
} 

.temporary-msg h2 {
    border: 4px solid var(--teal);
    width: clamp(15ch, 60%, 40ch);
    padding: 2rem;
    border-radius: 10px;
}

.temporary-msg p {
    width: clamp(200px, 80%, 60ch);
}

.temporary-msg .contact-link {
    color: var(--teal);
    font-weight: 600;
    text-decoration: none;
}

.temp-browse-btn {
    background-color: var(--mustard-yellow);
    color: white;
    text-decoration: none;
    font-size: clamp(1rem, 2vw, 1.3rem);
    width: fit-content;
    padding: 0.75rem 1.5rem;
    border-radius: 100vmax;
    font-weight: 500;
}

.temp-browse-btn:is(:hover, :active, :focus) {
    background-color: var(--hover-mustard-yellow);
}

/* Contact info section */
.contact-section {
    text-align: center;
    padding: 8vw;
}

.contact-methods {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.contact-methods li {
    list-style: none;
    font-size: 1.5rem;
}

.contact-methods li .material-symbols-rounded {
    font-size: clamp(2rem, 3.5vw, 3rem);
    color: var(--teal);
}

.contact-methods li .material-symbols-rounded::selection {
    background-color: transparent;
}

.contact-methods li h3 {
    color: var(--mustard-yellow);
}

.contact-methods li a {
    text-decoration: none;
    color: var(--teal);
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.3rem);
}


