body {
    min-height: unset;
}

/* header */

#order-header {
    background-color: #2a3741;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header {
    padding: 1.5rem;
}

#title::after {
    content: 'ORDER' !important;
}

/* header */

h2 {
    font-family: var(--accent-font);
    font-weight: 400;
    color: var(--teal);
    font-size: clamp(2rem, 4vw, 4rem);
    text-align: center;
    margin: 3rem auto;
}

/* Order process list */

.order-section {
    margin: 0 20% 3rem;
}

.order-steps {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style-type: none;
    counter-reset: step-counter;
}

.order-step {
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    color: var(--teal);
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
}

.order-step::before {
    content: counter(step-counter);
    counter-increment: step-counter;
    position: absolute;
    left: -5.5rem;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    background-color: var(--mustard-yellow);
    padding: 5px 1.2rem;
    border-radius: 10px;
    aspect-ratio: 1;
    font-weight: 600;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
}

.order-step::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: var(--mustard-yellow);
    border-radius: 100vmax;
    top: 0;
    left: -1.5rem;
}

h3 {
    color: var(--teal);
    font-size: clamp(1.3rem, 3vw, 1.8rem);
    text-wrap: balance;
}

.order-step p, .contact-p, .temporary-msg p {
    color: var(--charcoal);
    font-size: clamp(1rem, 2vw, 1.3rem);
    line-height: 1.8;
    text-wrap: pretty;
}

.order-step p strong {
    font-weight: 600;
    color: var(--teal);
}

.order-step p em {
    font-family: var(--secondary-font);
    color: var(--teal);
    text-indent: 3rem;
    font-weight: 500;
}

/* Order Form */

#order-form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    background-color: var(--mustard-yellow);
    max-width: 50rem;
    margin: 0 auto;
    border-radius: 1rem;
    margin-top: 2rem;
    position: relative;
}

#order-form h4 {
    color: white;
    text-align: center;
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    position: relative;
    width: 100%;
    max-width: 40rem;
    backdrop-filter: blur(10px);
}

.input-wrapper label {
    font-family: var(--secondary-font);
    font-size: clamp(0.8rem, 2vw, 1.2rem);
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    cursor: text;
    z-index: 1;
}

.input-wrapper:focus-within label, .input-wrapper.filled label {
    color: white;
    top: 0;
    background-color: var(--mustard-yellow);
    padding: 0 5px;
    font-size: clamp(0.8rem, 1.5vw, 1rem);
    font-weight: 600;
}

.input-wrapper input, .input-wrapper textarea {
    width: 100%;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    font-size: clamp(1.1rem, 2vw, 1.3rem);
    font-family: var(--secondary-font);
    padding: 10px 1rem;
    color: white;
    background-color: transparent;
}

.input-wrapper:focus-within input, .input-wrapper:focus-within textarea {
    border-color: white;
    outline: none;
}

.input-wrapper textarea {
    resize: none;
    max-height: 10rem;
    field-sizing: content;
    white-space: pre-line;
}

.submit-btn {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 2vw, 1.3rem);
    font-weight: 400;
    padding: 0.5rem 1rem;
    border-radius: 100vmax;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: white;
    color: var(--mustard-yellow);
    font-weight: 600;
}



/* Contact info section */

.contact-p {
    text-align: center;
    margin: 0 auto 1.5rem;
}

.contact-methods {
    display: flex;
    /* flex-direction: column; */
    gap: 2rem;
    /* border: 3px solid var(--teal); */
    /* border-radius: 2rem; */
    width: fit-content;
    margin: 0 auto 2rem;
    padding: 1rem 5rem;
    flex-wrap: wrap;
}

.contact-methods li {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-size: 1.5rem;
    margin: 0 auto;
}

.contact-methods li .material-symbols-rounded {
    font-size: clamp(2rem, 3.5vw, 3rem);
    color: var(--teal);
}

.contact-methods li .material-symbols-rounded::selection {
    background-color: transparent;
}

.contact-methods li h3 {
    color: var(--mustard-yellow);
}

.contact-methods li a {
    text-decoration: none;
    color: var(--teal);
    font-weight: 600;
    font-size: clamp(1rem, 2vw, 1.3rem);
}

.last-order-link {
    margin: 0 auto 5rem;
}

/* Confirmation Msg */

/* #confirmation-msg {
    position: fixed;
    bottom: -100%;
    opacity: 0;
    left: 50%;
    transform: translateX(-50%);
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 2vw, 1.5rem);
    color: white;
    text-align: center;
    text-wrap: balance;
    background-color: var(--charcoal);
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 250px;
}

#confirmation-msg.show {
    bottom: 5rem;
    opacity: 1;
} */

/* Responsive Design */

@media (max-width: 768px) {
    header {
        padding: 1rem;
    }

    #order-header {
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: all 0.5s ease;
    }

    #order-header.hidden {
        top: -100%;
    }

    h2 {
        margin: 8rem auto 3rem;
    }

    .contact-header {
        margin: 2rem auto;
    }
}

@media (max-width: 425px) {

    .order-section {
        margin: 0 10% 3rem;
    }

    .order-step::before, .order-step::after {
        display: none;
    }

    #order-form {
        padding: 1rem 0;
    }

    #order-form::before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 85vw;
        border-radius: 1rem;
        background-color: var(--mustard-yellow);
    }

    .input-wrapper input {
        padding: 6px 8px;
    }

    .contact-p, .temporary-msg p {
        padding: 0 15%;
    }

    .contact-methods {
        border-radius: 1rem;
        padding: 1rem;
        margin: 0 auto 1.5rem;
        gap: 1rem;
    }
}

@media (max-width: 368px) {
    #order-header {
        height: 100px;
    }

    #title::after {
        display: none;
    }

    h2 {
        margin: 9rem auto 3rem;
    }
}

/* ===== Temporary Message ===== */

.temporary-msg {
    min-width: 250px;
    margin: 10rem auto;
    text-wrap: balance;
}

.temporary-msg h2 {
    padding: 0 15%;
    text-wrap: balance;
}

.temporary-msg p {
    text-align: center;
    text-wrap: balance;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin: 0 auto;
    color: var(--charcoal);
}

.temporary-msg .contact-link {
    color: var(--teal);
    font-weight: 600;
    text-decoration: none;
}