/* Global styles and variables */
@import url(https://fonts.googleapis.com/icon?family=Material+Icons+Round);
@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --main-font: "Rubik", Arial, Helvetica, sans-serif;
    --secondary-font: "Roboto", Arial, Helvetica, sans-serif;
    --accent-font: "Chewy", Arial, Helvetica, sans-serif;
    --teal: #008080;
    --light-teal: color-mix(in srgb, var(--teal) 75%, white 25%);
    --mustard-yellow: #E1ad01;
    --charcoal: #36454f;
    --soft-white: #fafafa;
    --hover-mustard-yellow: #D38E00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    transition: all 0.2s ease;
}

body {
    background-color: var(--soft-white);
    position: relative;
    interpolate-size: allow-keywords;
}

/* ========== Typography ========== */

h2, h3, h4 {text-wrap: balance}

p {
    max-width: 60ch;
    font-family: var(--secondary-font);
    color: var(--charcoal);
    line-height: 1.8;
    text-wrap: pretty;
}

.white-txt {
    color: var(--soft-white);
}

p :is(span, strong) {font-family: inherit}

a {
    text-decoration: none;
    color: inherit;
}

button {cursor: pointer}

/* ========== Header ========== */

.header-wrapper {
    background-color: #2a3741;
    height: 6rem;
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    inset-inline: 0;
}

header #title {
    margin-right: auto;
    color: var(--light-teal);
    font-size: clamp(1.3rem, 3vw, 2rem);
    position: relative;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header #title::after {
    content: '';
    position: absolute;
    top: 80%;
    right: 0;
    font-family: var(--secondary-font);
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 300;
    color: var(--mustard-yellow);
}

@media (max-width: 368px) {
    .header-wrapper {height: 100px}
    #title::after {display: none}
}

/* ========== Nav Bar ========== */

.navbar-links {
    display: flex;
    gap: 2rem;
}

.navbar-links li {
    list-style: none;
    font-family: var(--secondary-font);
    font-weight: 300;
}

.navbar-links li:is(:hover, :active) a {color: var(--hover-mustard-yellow)}

.navbar-links li a {
    color: var(--soft-white);
    text-decoration: none;
    font-size: 1.2rem;
}

.navbar-links li:last-child a {
    background-color: var(--mustard-yellow);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: 500;
}

.navbar-links li:last-child:hover a {background-color: var(--hover-mustard-yellow)}

/* ========== Hamburger ========== */

.hamburger {
    margin: 2vh 4vw;
    display: none;
    cursor: pointer;
}

@media (max-width: 768px) {

    main:not(#home-page) {margin-top: 6rem}

    header {
        justify-content: flex-end;
        padding: 1rem;
    }

    .header-wrapper {
        height: 5rem;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
        transition: all 0.5s ease;
    }

    .header-wrapper.hidden {top: -100%}

    header #title {
        text-align: center;
        margin: unset;
        text-wrap: wrap;
        text-align: right;
        width: 80%;
    }

    nav {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }

    .navbar-links {
        padding: 100px 30px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        transition: all 0.3s ease-out;
        min-width: 180px;
        left: -65vw;
        top: 0;
        position: absolute;
        background-color: var(--teal);
        height: 100vh;
        width: 40vw;
        z-index: 500;
    }

    .navbar-links li:last-child a {
        background-color: unset;
        color: var(--soft-white);
        padding: unset;
        border-radius: unset;
        font-weight: unset;
    }

    .navbar-links li:last-child:hover a {
        background: none;
    }

    .hamburger {
        position: absolute;
        display: flex;
        flex-direction: column;
        overflow: visible;
        padding: 10px;
        z-index: 200;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .hamburger-line {
        margin: 3px auto;
        width: 30px;
        height: 3px;
        background-color: #fafafa;
        border-radius: 3px;
        transition: all 0.3s ease;
    }

    /* hamburger open style */

    .navbar-links.open {left: 0}

    nav:has(.navbar-links.open) + #hamburger {
        transform: rotate(-90deg);
    }
    nav:has(.navbar-links.open) + #hamburger .line-1 {
        transform: translateY(9px) rotate(45deg);
    }
    nav:has(.navbar-links.open) + #hamburger .line-2 {width: 0px}

    nav:has(.navbar-links.open) + #hamburger .line-3 {
        transform: translateY(-9px)rotate(-45deg);
    }
}

/* ========== Section headers ========== */

.headline {
    font-size: clamp(3rem, 6vw, 5rem);
    color: var(--mustard-yellow);
    animation: fadeIn 1s ease forwards;
    font-family: var(--accent-font);
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
}

.sub-headline {
    color: #fafafa;
    font-weight: 400;
    font-family: var(--secondary-font);
    font-size: clamp(1.2rem, 3vw, 1.3rem);
    line-height: 2;
    animation: fadeIn 1.4s ease forwards;
}

/* ========== Page Headers ========== */

.page-header > * {margin-bottom: 1.5rem}

.page-header h2 {
    font-size: clamp(3rem, 6vw, 5rem);
    font-family: var(--accent-font);
    animation: fadeIn 1s ease forwards;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center;
    color: var(--clr);
}

.page-header .line {
    border: none;
    width: 80%;
    margin-inline: auto;
    height: 5px;
    background-color: var(--clr);
    border-radius: 100vmax;
}

/* ========== Footer ========== */

footer {
    background-color: var(--charcoal);
    padding: 40px 20px;
    text-align: center;
    font-family: var(--secondary-font);
}

footer :is(p, span) {color: var(--soft-white)}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-section h3 {
    font-family: var(--main-font);
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--mustard-yellow);
}

.contact-wrapper {
    display: flex;
    gap: 1rem;
    margin: 1rem auto;
    align-items: center;
    cursor: pointer;
}

.contact-wrapper span::selection {background-color: transparent}

.footer-bottom {
    margin: 20px auto 0;
    font-size: 0.9rem;
    display: inline-block;
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }
}

/* ========== Buttons ========== */

.btn {
    --outline: var(--mustard-yellow);
    --hover: var(--soft-white);
    color: var(--outline);
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 600;
    padding: 10px 2rem;
    border: 2px solid var(--outline);
    border-radius: 100vmax;
    background-color: transparent;
    display: inline-block;
}

.btn:hover {
    background-color: var(--outline);
    color: var(--hover);
    transform: translateY(-5px);
    box-shadow: 0 5px 0 -1px hsl(from var(--outline) h s calc(l - 10));
}

.btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.btn.white {
    --outline: var(--soft-white);
    --hover: var(--mustard-yellow);
}

.btn.teal {
    --outline: var(--teal);
    --hover: var(--soft-white);
}

/* ========== Animations ========== */

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(20px)}
    to {opacity: 1; transform: translateY(0)}
}

@keyframes fadeOut {
    from {opacity: 1; transform: translateY(0)}
    to {opacity: 0; transform: translateY(20px)}
}

.animate-in {animation: fadeIn 1s forwards}

.animate-out {animation: fadeOut 1s forwards}